/* ContactUsSection.css */

/* General styles */
.body
{
  padding: 15px;
  text-align: center;
  background-color: white;
}
.contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f8ff;
  }
  
  .contact-us-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-us-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* Flexbox and responsiveness */
  .contact-us-form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .contact-us-section {
      padding: 15px;
    }
  
    .contact-us-section h1 {
      font-size: 1.5em;
    }
  
    .contact-us-section img {
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 400px) {
    .contact-us-section {
      padding: 10px;
    }
  
    .contact-us-section h1 {
      font-size: 1.2em;
    }
  }
  